[init]
	defaultBranch = main

[user]
	name = Jens Meindertsma
	email = mail@jensmeindertsma.com
	signingkey = A5225E7C5CACEC60

[commit]
	gpgSign = true

[tag]
	gpgSign = true

[push]
	autoSetupRemote = true
	followTags = true

[alias]
	setup = !git commit --allow-empty -m 'Initial commit' && git push

[gpg]
	program = gpg

[credential "https://github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential

[credential "https://gist.github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential

